<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header></header>

    <main>
        <%DATA.forEach(element=>{%>
            <div class="card">
                <p>character:
                    <%=element.character%>
                </p>
                <p>image:
                    <%=element.image%>
                </p>
                <p>qoute:
                    <%=element.quote%>
                </p>
                <p>character Direction:
                    <%=element.characterDirection%>
                </p>
                <form action="/favorite-quotes" method="POST">
                    <input type="hidden" name="character" value="<%=element.character%>">
                    <input type="hidden" name="image" value="<%=element.image%>">
                    <input type="hidden" name="qoute" value="<%=element.quote%>">
                    <input type="hidden" name="characterDirection" value="<%=element.characterDirection%>">
                    <button type="submit">add to my favourite</button>

                </form>
            </div>
            <%})%>
    </main>
</body>

</html>