<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <header>
        <%- include('../layouts/header.ejs')%>
    </header>
    <main>
        <%simp.forEach(simpson=>{%>
            <section class="card">
                <p>
                    <%=simpson.quote%>
                </p>
                <p>
                    <%=simpson.character%>
                </p>
                <img src="<%=simpson.image%>">
                <p>
                    <%=simpson.characterDirection%>
                </p>

                <form action="/favorite-quotes" method="POST">
                    <input type="hidden" name="quote" value="<%=simpson.quote%>">
                    <input type="hidden" name="character" value="<%=simpson.character%>">
                    <input type="hidden" name="image" value="<%=simpson.image%>">
                    <input type="hidden" name="characterDirection" value="<%=simpson.characterDirection%>">
                    <button type="submit">add to favorite</button>

                </form>
            </section>
            <%})%>
    </main>
</body>

</html>